@import "~/src/scss/index.scss";

$widthLeftMenu: 200px;

.admin-layout {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: $background-grey;
    &__left {
        background-color: $background-dark;
        width: $widthLeftMenu;

        .logo {
            height: 30px;
            width: 100%;
            margin: 10px;
        }
    }

    &__right {
        // el panel de la derecha es de 100% menos la barra de menu de la izquierda
        width: calc(100% - $widthLeftMenu);
        &-header{
            background-color: $background-dark;
            height: 50px;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: flex-end;
            padding: 0 0px;
        }

        &-content {
            position: relative;
            margin: 20px;
        }
    }
}